@charset "utf-8";
/* CSS Document */

/* General */
h1 {
    font-family: "tt-travels-next", sans-serif;
    font-size: 40px;
}
.cv {
    color: #e091efc5;
}

.nombre {
    color: rgba(191, 83, 0, 0.878);
}