@charset "utf-8";
/* CSS Document */

/* General */
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #faf3ec

}

h1 {
    font-family: "tt-travels-next", sans-serif;
    font-size: 40px;
}
.cv {
    color: #004299f7;
}

.nombre {
    color: rgba(191, 83, 0, 0.878);
}

h2 {
    font-family: "azo-sans-web" , sans-serif;
    color: #004299f7;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 0.10px;
  }

  #contacto {
    display: flex; 
    align-items: center;
    margin-top: 16px; 
}

#contacto img {
    margin-right: 16px; 
}

  li, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    font-size: 15px;
}